<!DOCTYPE html>
<html>
<head>
  <title></title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript">
    var rightA = "stigmata"
    var text = "Sosi hui(+)"
    function on_click(){
      var v = $("#input").val()
      if(v.toLowerCase() === rightA.toLowerCase()){
        alert(text);
      }else{
        alert('nepravilnii otvet')
      }

    }

  </script>
</head>
<body>

<div style = "margin: auto;display: table;">
	<h1>ANSWER</h1>
	<input type="text" name="pipecPolnii" id = 'input' >
	<br>
	<button onclick="on_click()" style = "margin: auto;display: table;">Check</button>
	<img style = "margin: auto;display: table;" src="https://hydra-media.cursecdn.com/bindingofisaacrebirth.gamepedia.com/archive/3/3d/20151124234752%21Lockeditemroomdoor.png?version=ed211d48a3af8e9f131cc38270d4e085">
</div>
</body>
</html>
