<!DOCTYPE html>
<html>
<head>
  <title>Stuttgart</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript">
    var rightA = "stigmata"
    var text = "wodahs18@yandex.ru\nJung1875"
    function on_click(){
      var v = $("#input").val()
      if(v.toLowerCase() === rightA.toLowerCase()){
        alert(text);
      }else{
        alert('Неправильный код')
      }

    }

  </script>

  <style type="text/css">
  input {
    text-align: center;
    size:40;
  }
  body {
      background-color: #669999; /* Цвет фона */
    }

    .center{
      margin: auto;
      display: table;

    }
    .centerV{
      position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    }

  </style>

</head>
<body>

<div  class="center centerV">
  <input type="text" name="pipecPolnii" class="center" id = 'input' >
  <br>
  <button onclick="on_click()" class="center">Check</button>
  <img src="https://vignette2.wikia.nocookie.net/bindingofisaac/images/0/00/Treasure_room_open.png/revision/latest?cb=20120819171221&path-prefix=ru">
</div>
</body>
</html>
